#aboutus{
    width: 1100px;
    margin-top: 50px;
    margin-left: 300px;
}
#aboutus h1{
    text-align: center;
    margin-bottom: 30px;
    color: darkcyan;
}
#aboutus p{
    color: rgb(94, 0, 131);
}
#aboutus ul{
    color: rgb(93, 35, 228);
}