.footer{
    background-color: rgb(65, 65, 65);
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    padding: auto;
}
.firstDiv{
    width: 350px;
    color: whitesmoke;
}
.secondDiv{
    width: 700px;
    color: whitesmoke;
}